nav{
    display: flex;
}
/* The sidepanel menu */
.sidepanel {
    height: calc(100vh); /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 13%;
    left: 0;
    z-index: 0;
    background-color: #8EBBFF; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    box-shadow: 2px 4px 5px #5976a3;
  }
  
  /* The sidepanel links */
  .sidepanel a {
    font-family: 'Lato', sans-serif;
   font-weight: 900;
    padding: 20px 8px 70px 32px;
    text-decoration: none;
    font-size: 24px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    margin: 20px 20px;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    
  }
  
  .openbtn:hover {
      
      box-shadow: 2px 4px 5px #7979ab;
  }
  .openbtn:active {
  box-shadow: inset 2px 4px 5px #7979ab;
}